{#- Feature: sentence translation with word-level breakdown -#}
{#- Variables: source_language_name, target_language_name, source_text -#}
{#- Version: 1.0 -#}
Translate this {{ source_language_name }} sentence into
{{ target_language_name }} and break it down.

<sentence>
{{ source_text }}
</sentence>
